<button class="back-btn absolute left-4 top-22">
    <i class="material-symbols-rounded">arrow_back</i>
</button>

<div class="flex flex-col items-center overflow-y-auto h-full w-full gap-4">
    <form class="flex flex-col gap-4 w-1/2">
        <div class="section-header">General</div>
        <div class="section-field">
            <label for="showCompleted">Show Completed Tasks</label>
            <input type="checkbox" name="showCompleted" class="w-5 h-5 round-checkbox"/>
        </div>
        <div class="section-field">

        <label for="tagCategoriesInput">Tag Categories</label>
        <input type="text" name="tagCategoriesInput" />
        </div>

        @for (cat of categories; track $index){
        <div class="section-field justify-between">
            <div class="section-field">
                <label>{{$index + 1}}. </label>
                <input type="text" [name]="`category-name-${$index}`" [value]="cat.name" placeholder="Name" 
                    class="input-text max-w-50"/>
                <span class="text-sm">Color: </span>
                <input type="color" [value]="cat.color" class="w-10 h-10"/>
                <span class="text-gray-400">{{cat.color}}</span>
            </div>
            <button type="button" class="remove-btn"><i class="material-symbols-rounded">delete</i></button>
        </div>    
        }


        <div class="section-header">Export Copy</div>
        <div class="section-field"> 
            <label for="showDeadline">Show Deadline on Export Copy</label>
            <input type="checkbox" name="showDeadline" class="round-checkbox"/>
        </div>

        <button type="submit" class="submit-btn">Save Changes</button>
            
    </form>

    <p class="text-gray-500 italic">More options coming soon...🪼</p>
</div>