.section-header {
    font-size: 1.25rem;
    font-weight: 500;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    padding-block: 0.5rem;
    margin-top: 1.5rem;
}

.section-field {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

label {
    font-size: 1rem;
    font-weight: 500;
}

.submit-btn {
  background-color: var(--color-blue-900);
  color: white;
  padding: 0.5rem 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.back-btn {
    padding: 0.5rem 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}