<app-toast></app-toast>

<header>
    <div class="header-title">
        <span class="material-symbols-rounded" aria-hidden="true">checklist</span>
        <span>Weekly Tasks</span>
    </div>

</header>

<div id="main">
    <router-outlet></router-outlet>
    <app-dialog></app-dialog>
</div>

<footer>
    <span>
        🐞 Found a bug or have a suggestion? 💬 Report it 
        <a [title]="report_url()" [href]="report_url()">here</a>
    </span>
    <span>
    ©Task Calendar • 
    <a [title]="releases_url" [href]="releases_url">{{appVersion()}}</a> 
    - By <a [title]="profile_url" [href]="profile_url">GRaF 🐼</a>
  </span>
</footer>