<app-toast></app-toast>

<header>
    <div class="header-title">
        <span class="material-symbols-rounded" aria-hidden="true">checklist</span>
        <span>Weekly Tasks</span>
    </div>

</header>

<div id="main">
    <router-outlet></router-outlet>
    <app-dialog></app-dialog>
</div>

<footer class="h-">
    <span>
    ©Task Calendar • <a href="https://github.com/rafscarlet/Weekly-Task-Manager/releases">{{appVersion}}</a> - By <a href="https://github.com/rafscarlet">GRaF 🐼</a>
  </span>
</footer>